<div *ngIf="watchNgIf">
  trueを設定しているので、このテキストが出力されます。
</div>

<ul>
  <li *ngFor="let watchNgFor of watchNgFors">{{ watchNgFor }}</li>
</ul>

<div [ngSwitch]="value">
  <p *ngSwitchCase="'A'">Aを設定しているのでこのテキストが出力されます。</p>
  <p *ngSwitchCase="'B'">Bを設定しているのでこのテキストが出力されます。</p>
  <p *ngSwitchDefault>その他を設定しているのでこのテキストが出力されます。</p>
</div>

<p>以下のボタンを押下すると表示/非表示が切り替わります。</p>
<button *ngIf="isButtonVisible" (click)="toggleButtonVisibility()">表示</button>
<button *ngIf="!isButtonVisible" (click)="toggleButtonVisibility()">
  非表示
</button>

<!-- ng-container,ng-templateの仕様例 -->
<div class="name-list">
  <!-- 配列namesの存在チェックと要素数チェック、falseの場合ng-templateの#nameが実行される。 -->
  <ng-container *ngIf="names && names.length; else noName">
    <!-- 配列namesの名前(name)と説明(description)を出力する。 -->
    <div *ngFor="let name of names">
      <h2>{{ name.name }}</h2>
      <p>{{ name.description }}</p>
    </div>
  </ng-container>

  <ng-template #noName>
    <p>nameリストが存在しないのでこのテキストが出力されます。</p>
  </ng-template>
</div>

<!-- ここまで構造ディレクティブ、以降は属性ディレクティブ -->

<!-- ngStyleで以下の要素に対してスタイルを付与している。 -->
<div [ngStyle]="{ 'background-color': color }">
  ngStyleでこの要素に対して背景色を付与しています。
</div>





<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
